.paginaInicio {
    font-family: "Inter", sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

.paginaInicio .imagem {
    width: 53%;
    height: 100%;
    max-width: 100%;
    position: relative;
    margin-right: 1.5rem;
}

.part1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: #000;
    color: #fff;
    flex-wrap: wrap;
    margin-bottom: 3vh;
}

.part1 h1 {
    text-align: left;
    flex-direction: column;
    align-items: center;
    font-size: 6vw;
    margin-left: 5vw;
    padding: 0;
    background-color: #000;
    color: #fff;
}

.part1 h1 span {
    display: block;
    padding: 0;
    background-color: #000;
    color: #fff;
}

.icons {
    width: 100%;
    height: 9vh;
    background-color: #696969;
    margin-bottom: 3vh;
    margin-top: 0;
    padding: 0;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    flex-wrap: wrap;
}


.paginaSobre .icons {
    width: 99%;
    height: 9vh;
    background-color: #696969;
    margin-bottom: 3vh;
    margin-top: 0;
    padding: 0;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    flex-wrap: wrap;
}

.icons button {
    margin-right: 2vw;
    border: none;
    outline: none;
    background: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    padding: 1vh 1vw;
    justify-content: flex-start;
    transition: all 0.3s ease;
}

.paginaInicio .icons button:hover {
    background-color: #555;
    transform: scale(1.0);
    padding: 1.7rem;
}

.social-icons {
    margin-left: auto;
    background: none;
    cursor: pointer;
    justify-content: flex-end;
    display: flex;
    gap: 1.5vw;
    padding: 0.3vh 0.7vw;
    flex-wrap: wrap;
}

.social-icons button {
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.social-icons button:hover {
    background-color: #555;
    transform: scale(0.9);
    padding: 1.7rem;
}

.about {
    font-size: 1.8rem;
    padding: 5vw;
    background-color: #36393f;
    color: #000;
    text-align: left;
}

.about h2 {
    font-size: 5rem;
    text-align: left;
    display: flex;
    margin-left: 2vw;
    font-weight: normal;
    margin-bottom: 5vh;
    margin-top: 0;
}

.about p {
    text-align: left;
    margin-left: 2vw;
    margin-bottom: 5vh;
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
}

.about h3 {
    font-size: 2.5vw;
    font-weight: bold;
    margin-top: 4vh;
    margin-bottom: 3vh;
}

.about h5 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 4vh;
    margin-bottom: 2vh;
    margin-left: 2vw;
}

.section {
    margin-bottom: 5vh;
}

.section p {
    text-align: left;
    margin-left: 2vw;
    margin-bottom: 3vh;
}

.about p1 {
    font-weight: bolder;
}

.paginaSobre {
    font-family: "Inter", "sans-serif";
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #000;
    color: #fff;
    font-size: 33rem;
}

.paginaSobre .info {
    font-size: 5rem;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #000;
    padding-bottom: 6vh;
}

@media (max-width: 600px) {
    .paginaSobre .info {
        font-size: 3rem;
        margin: 1px;
    }
}

.paginaSobre .part1 {
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #000;
}

.paginaSobre .about {
    background-color: #262626;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 1%;
    width: 85.5%;
}

.paginaSobre .about .first h1 {
    font-size: 3.3rem;
    text-align: left;
    margin-left: 0.3rem;
    color: #fff;
    margin-bottom: 10vh;
    background-color: #262626;
}

.paginaSobre .about section {
    color: #fff;
    list-style-type: none;
    font-size: 2.3rem;
}

.paginaSobre .about section .topicos li {
    padding-bottom: 3vh;
}

.paginaSobre .about section img {
    width: 50%;
    height: auto;
    min-width: 105;
    margin-bottom: 3vw;
}

.paginaSobre .icons button:hover {
    background-color: #555;
    transform: scale(1.0);
    padding: 1.7rem;
}

@media (max-width: 600px) {
    .paginaSobre .icons button {
        margin-left: auto;
        background: none;
        cursor: pointer;
        justify-content: flex-end;
        display: flex;
        gap: 1.5vw;
        padding: 0.3vh 0.7vw;
        flex-wrap: wrap;
        transition: all 0.3s ease;
    }
}

.paginaSobre .social-icons button:hover {
    background-color: #555;
    transform: scale(0.9);
    padding: 1.7rem;
}

.paginaSobre .about h1 {
    font-size: 3.3rem;
    text-align: left;
    margin-left: 0.3rem;
    color: #fff;
    margin-bottom: 10vh;
    background-color: #262626;
}

.paginaSobre .about section h1 {
    color: #fff;
    list-style-type: none;
    font-size: 3rem;
    font-weight: normal;
}

.paginaSobre .tips {
    font-size: 3rem;
    margin-top: 5rem;
}

.lighting {
    font-family: 'Courier New', monospace;
    overflow: hidden;
    border-right: 2px solid white;
    display: inline-block;
    width: auto;
    visibility: visible;
}

.line {
    display: inline-block;
    animation: typing 1s steps(40, end) 0s forwards;
}

.keyword {
    display: inline-block;
    animation: keywordBlink 3s infinite alternate;
    color: #66d9ef;
}

.variable {
    display: inline-block;
    animation: variableBlink 3s infinite alternate;
    color: #f92672;
}

.string {
    display: inline-block;
    animation: stringBlink 3s infinite alternate;
    color: #ff6347;
}

@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: auto;
    }
}

@keyframes keywordBlink {
    0% {
        color: #66d9ef;
    }
    20% {
        color: #e6e600;
    }
    40% {
        color: #ff1493;
    }
    60% {
        color: #ff6347;
    }
    80% {
        color: #00ffff;
    }
    100% {
        color: #66d9ef;
    }
}

@keyframes variableBlink {
    0% {
        color: #f92672;
    }
    20% {
        color: #ff6347;
    }
    40% {
        color: #66d9ef;
    }
    60% {
        color: #e6e600;
    }
    80% {
        color: #ff1493;
    }
    100% {
        color: #f92672;
    }
}

@keyframes stringBlink {
    0% {
        color: #ff6347;
    }
    20% {
        color: #66d9ef;
    }
    40% {
        color: #f92672;
    }
    60% {
        color: #00ffff;
    }
    80% {
        color: #ff1493;
    }
    100% {
        color: #ff6347;
    }
}

.paginaSobre .icons button:hover {
    background-color: #555;
    transform: scale(1.0);
    padding: 1.3rem;
}

.paginaSobre .icons button {
    margin-right: 1vw;
    border: none;
    outline: none;
    background: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    padding: 1vh 1vw;
    justify-content: flex-start;
    transition: all 0.3s ease;
}

.paginaSobre .icons button {
    margin-right: 1vw;
    border: none;
    outline: none;
    background: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    padding: 1vh 1vw;
    justify-content: flex-start;
    transition: all 0.3s ease;
}

.paginaSobre .social-icons button {
    font-size: 1.3rem;
}

@media (max-width: 600px) {
    .paginaSobre .social-icons button {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .paginaSobre .about section img {
        width: 100%;
        height: auto;
        min-width: 105;
        margin-bottom: 3vw;
        margin-top: 3vw;
    }
}

@media (max-width: 600px) {
    .paginaSobre .bilboard p {
        font-size: 3rem;
        margin: 3rem;
    }
}

.paginaSobre .showTips {
    font-size: 2rem;
    width: 20%;
    height: auto;
    padding: 0.5vw;
    border-radius: 0.7rem;
    background-color: #595959;
    color: #fff;
}

.paginaSobre .showTips:hover {
    background-color: #737373;
}

@media (max-width: 600px) {
    .paginaSobre .showTips {
        font-size: 2rem;
        width: 80%;
        height: auto;
        padding: 0.5vw;
        border-radius: 0.7rem;
        background-color: #595959;
        color: #fff;
    }
}

@media (max-width: 600px) {
    #dicas p {
        font-size: 1.5rem;
        margin: 3rem;
    }



}


#dicas {


    font-size: 2.3rem;
}


